@use '../abstract/' as *;

.card {
    max-width: 35rem;
    background-color: $color-primary-dark-1;
    padding: 2.4rem 2.4rem 3.2rem 2.4rem;
    color: $color-primary-light;
    border-radius: 1.5rem;
    box-shadow: $shadow-light;
    
    @media (max-width: $screen-sm) {
        max-width: 32.7rem;
        padding-bottom: 2.4rem;
    }

    &__pic {
        margin-bottom: $margin-lg;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        &::before {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background: url('../images/icon-view.svg') no-repeat center;
            background-color: rgba($color-secondary, 0.6);
            opacity: 0;
            visibility: hidden; //for better accessibility?
            transition: visibility 300ms, opacity 300ms;
        }

        &:hover::before {
            opacity: 1;
            visibility: visible; //for better accessibility?
        }
    }

    &__name {
        font-weight: 600;
        font-size: $font-size-lg;
        line-height: 2.8rem;
        color: $color-white;
        margin-bottom: $margin-md;
        cursor: pointer;
        transition: color 300ms;

        &:hover {
            color: $color-secondary;
        }

        @media (max-width: $screen-sm) {
            margin-bottom: $margin-sm;
        }
    }

    &__features {
        font-weight: 300;
        font-size: $base-font-size;
        line-height: 2.6rem;
        margin-bottom: $margin-lg;

        @media (max-width: $screen-sm) {
            margin-bottom: $margin-md;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
        line-height: 2rem;
        margin-bottom: $margin-lg;

        @media (max-width: $screen-sm) {
            margin-bottom: $margin-md;
        }
    }

    &__info img {
        margin-right: 7px;
    }

    &__info P:first-of-type {
        font-weight: 600;
        color: $color-secondary;
        margin-right: auto;
    }

    &__info p:last-of-type {
        margin-right: 2px;
    }

    &__creator {
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
        line-height: 2rem;
        margin-top: $margin-md;
    }

    &__creator img {
        width: 3.3rem;
        border-radius: 50%;
        border: 1.5px solid $color-white;
        margin-right: $margin-md;
    }

    &__creator span {
        color: $color-white;
        margin-left: 2px;
        cursor: pointer;
        transition: color 300ms;

        &:hover {
            color: $color-secondary;
        }
    }
}
